.App {
    text-align: center;
}

.nav-bar {
    position: sticky;
    z-index: 200;
    top: 0;
}

.read {
    font-size: 1.5rem;
    color: red;
    margin: 1rem 0 0 1rem;
}

main {
    display: flex;
    justify-content: center;
}

.create-post-container {
    width: 50%;
    background-color: white;
    padding: 5%;
}

.post-textArea {
    resize: none;
    height: 30vh;
    width: 100%;
    font-size: 2rem;
}

.profile-dropdown-container {
    display: flex;
    justify-content: flex-end;
}

.profile-dropdown {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.profile-dropdown li {
    font-size: 1.5rem;
    padding: 5% 1% 5% 1%;
    cursor: pointer;
}

.create-post-button {
    border-radius: 50px;
    border: rgb(74, 133, 16) 5px solid;
    background-color: rgb(74, 133, 16);
    color: white;
    font: 1.2rem sans-serif;
    font-weight: bold;
    margin: 3rem 0 5% 3%;
    padding: 2%;
}

.create-post-button:hover {
    background-color: white;
    color: black;
}

.profile-dropdown svg {
    margin-right: 10px;
}

.profile-image {
    width: 4rem;
    clip-path: circle();
    cursor: pointer;
}

.post-container {
    background-color: white;
    box-shadow: gray 5px 5px 5px 5px;
    margin-top: 5%;
}

.logo {
    width: 20%;
}

.profile-dropdown ul {
    border: black 1px solid;
    padding: 2%;
    width: auto;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 27;
    box-shadow: gray 0px 20px 6px 7px;
    background-color: whitesmoke;
}

ul li {
    list-style: none;
    width: 100%;
}

header {
    background-color: whitesmoke;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: gray 0px 20px;
    margin: 0;
    z-index: 1;
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.image-container {
    margin: 3%;
    display: flex;
    justify-content: center;
    width: 50%;
}

.title-image {
    width: 100%;
}

.login {
    font-size: 25px;
    background-color: white;
    text-align: center;
    width: 60%;
    box-shadow: 10px 25px gray;
}

.login input {
    width: 70%;
    margin: 3% 15% 3% 15%;
    font-size: 30px;
}

h1 {
    font-size: 2rem;
}

.question {
    font-size: 1.5rem;
}

.or-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.required {
    color: red;
    font-size: 2rem;
    margin-right: 2%;
}

.or-style::before,
.or-style::after {
    content: "";
    width: 150px;
    height: 1px;
    background: black;
    margin: 0 10px;
}

.login-button {
    background-color: blue;
    color: white;
    padding: 2%;
    cursor: pointer;
    outline: none;
    border: none;
}

.login-button:hover {
    background-color: rgb(16, 16, 207);
}

.error {
    margin-left: 10%;
    margin-right: 10%;
    color: red;
    font-size: 1.5rem;
}

button {
    font-size: 2rem;
    margin: 5% 20% 5% 20%;
    background-color: rgb(74, 133, 16);
    color: white;
    padding: 2%;
    cursor: pointer;
    outline: none;
    border: none;
}

button:hover {
    background-color: rgb(105, 182, 27);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
    width: 50%;
}

.password-requirement-container ul li {
    margin: 5% 0 5% 0;
    font-size: 1.2rem;
    list-style: none;
    width: 100%;
    padding: 0 3% 03%;
}

ul {
    padding: 0;
}

.signup-container {
    font-size: 1rem;
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    align-items: center;
}

.signup-container input {
    margin-top: 5%;
    font-size: 1.5rem;
    width: 90%;
}

@media (max-width: 930px) {
    .signup-container {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .title-image {
        width: 80%;
    }
    .logo {
        width: 60%;
    }
    .profile-image {
        width: 20%;
    }
    .login {
        width: 100%;
        box-shadow: none;
    }
    main {
        display: block;
    }
    .signup-container input {
        width: 60%;
        margin-top: 10%;
    }
    .welcome,
    .signup-container {
        width: 100%;
    }
    h1,
    .question {
        font-size: 1rem;
    }
    button {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .profile-dropdown ul {
        border: 0;
        border-bottom: 1px black solid;
        position: unset;
        width: 100%;
    }
    .profile-dropdown ul li {
        padding: 2%;
    }
}

@media (max-width: 320px) {
    .password-requirement-container ul li {
        font-size: 0.8rem;
    }
}